.customContainer{
    width: 100vw;
    height: 100vh;
    background: url("/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  
  
}

.navList{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.landingHeading{
    font-size: 4rem;
    font-weight:400;
}